@import "properties.scss";

.statusLine {
  width: 100%;
  margin: 0 0.5rem;

  h3 {
    font-weight: 500;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 75rem) {
  .statusLine {
    width: initial;
  }
}
